body {
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
    background-image: url("../images/backdrop.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 0% 15%;
    background-color: #f4feff;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* ------------------------------------------------------------------------ */

.header-box {
    text-align: center;
    color: black;
    padding: 20px;
}

.header-box h1 {
    font-size: 45px;
    line-height: 1em;
}

/* ------------------------------------------------------------------------ */

#navigation {
    text-align: center;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    font-size: 16px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 10%;
}

#navigation a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#rest {
    padding-top: 10px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

#about {
    padding: 5%;
    width: 65%;
    background-color: #f4feff;
    box-sizing: border-box;
}

#sidepic {
    padding: 5%;
    width: 30%;
    box-sizing: border-box;
}

#sidepic img {
    width: 100%;
    border-radius: 15px;
}

#footer {
    text-align: center;
    background-color: #f4feff;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}