body{
    background-color:#e4e4e4;
    color:#000;

    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:normal;
    /* font: normal 16px Arial, Helvetica, sans-serif;      A shorted way of doing it*/

    line-height:1.6em;
    margin: 0;

    background-image: url("images/backdrop.jpg");
    background-size: cover;
}

.container{
    margin:0% 10%;
    background-color: rgb(197, 237, 224);
}

.header-box{
    text-align: center;
    background-color: #77aa77;
    color:black;
    padding:20;
    border:5px black solid;
}
.header-box h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}


.nav-bar{
    margin:0% 20%;
    padding:0px;
}

.nav-button{
    padding:0px;
    float:left;
    width:33.3%;
    box-sizing: border-box;
    border:3px dotted #f00;
    text-align: center;
    border-radius:15px;
}

#bio{
    margin-top:100px;
}