body{
    background-color:#e4e4e4;
    color:#000;

    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:normal;
    /* font: normal 16px Arial, Helvetica, sans-serif;      A shorted way of doing it*/

    line-height:1.6em;
    margin: 0;

    background-image: url("images/backdrop.jpg");
    background-size: cover;
}

.container{
    margin:0% 10%;
}

.header-box{
    text-align: center;
    background-color: #77aa77;
    color:black;
    padding:20;
    border:5px black solid;
}
.header-box h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}


#navigation{
	text-align: center;
	position: relative;
	background:rgba(255,255,255,0.5);
    background-color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	width: 100%;
	font-size: 16px;
	padding-top: 1%;
	padding-bottom: 1%;
    border-bottom:1px solid #e7e7e7;
	height: 10%;
	z-index: 10;
}

ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
}




#rest{
    background-color: white;
}